body{
    background-color: black;
    color: aliceblue;
}
.ingCard{
    background-color: brown;
    margin: 1%;
}
.sandwichCon{
    width: 100%;
    text-align: center;
    border: 2px solid blanchedalmond;
}
.ingListCon{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid blanchedalmond;
}

.ingLi{
    list-style-type: none;
}

.ingBtn{
    width: 100%;
}